export ANSIBLE_HOME="$VIRTUAL_ENV/ansible"
export OPENSEARCH_API_HOST="host.containers.internal"
export OPENSEARCH_API_PORT=9200
export OPENSEARCH_API_USERNAME="admin"
export OPENSEARCH_API_PASSWORD="myStrongPassword123!"
export OPENSEARCH_API_USE_SSL="True"
export OPENSEARCH_API_VERIFY_CERTS="False"
export OPENSEARCH_VERSION="3.3.1"

podman pull --arch $(arch) docker.io/opensearchproject/opensearch:$OPENSEARCH_VERSION
podman run -d \
  --name opensearch-debug \
  -p 9200:9200 -p 9600:9600 \
  -e OPENSEARCH_INITIAL_ADMIN_PASSWORD=$OPENSEARCH_API_PASSWORD \
  -e "discovery.type=single-node" \
  docker.io/opensearchproject/opensearch:$OPENSEARCH_VERSION
